@media(max-width: 1199px){
.text{
    padding: 0 40px;
}
.column2{
    width: 260px;
}
}

@media(max-width: 991px){
    nav a{
        margin: 9px;
    }
    .CONTACT{
        padding: 15px 22px;
    }
    .article-text{
        width: 350px;
    }
    .article-page{
        width: 300px;
    }
    .four-text{
        bottom:18px
    }
    .column2{
        width: 200px;
    }
}

@media(max-width: 767px){
   
    .main-nav a {
        position: relative;
        display: block;
        margin: 0 15px;
        color: #9597A5;
        font-size: 1rem;
        margin-bottom: 32px;
        margin-top: 10px;
    }
    .main-nav {
        display: none;
        position: absolute;
        top: 50px;
        left: 24px;
        right: 24px;
        margin-top: 104px;
        padding: 15px;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        z-index: 1;
    }
    .shape{
        display: block;
    }
   .second-section .column {
       
       width: 100%;
   }
   .text{
       width: 100%;
       margin-bottom: 50px;
   }
   
   .second-section .row {
       display: block;
   }



   .third-section .row{
       display: block;
   }

   .third-section .glass{
       width: 100%;
   }

   .third-section .text{
       margin-bottom: 50px;
   }

.main-header .menu-toggle.open {
    display: block;
}
.main-header .menu-toggle.close {
    display: none;
}
.main-header.on .menu-toggle.open {
    display: none;
}
.main-header.on .menu-toggle.close {
    display: block;
}
.main-nav-link {
    display: block;
    font-size: 18px;
    padding: 15px 0;
}
.main-nav-link:after {
    bottom: 0;
    width: 50px;
    left: 50%;
    margin-left: -25px;
}
.menu-toggle {
    display: block;
    border: none;
    background: transparent;
}

.main-nav .CONTACT{
    
    background-color: #FBD600;
    color: black;
}

 








   .four-section .row{
       display: block;
       
   }

   .four-section .picture{
       width: 100%;
   }

   .five-section .row{
        display: block;
        justify-content: center;
   }
   .five-section .column2{
    width: 450px;
   }
.column2{
    margin-bottom: 60px;
}
   .column2 img{
       margin-top: 20px;
   }
   .column2 p{
       margin-top: 0;
   }
   .column2 .job{
       margin-top: 15px;
   }



}

@media(max-width: 565px){
    
}

@media(max-width: 480px){
    .text {
        padding: 0 24px;
    }

    .six-section .row-images{
        flex-wrap: nowrap;
    }
    .five-section .column2 {
        width: 372px;}

        .four-section .picture{
            height: 500px;
        }
        .picture img{
            height: 600px;
        }
        .orange-page{
            margin-bottom: -40px;
        }
        .five-section .column2 {
            margin-left: auto;
            margin-right: auto;
        }


        .six-section .column4 {
            width: 50%;
        }

        .six-section .row-images {
            flex-wrap: wrap;
        }

        .second-section .row{
            display: flex;
        flex-wrap: wrap;
        }

        .dark-yellow{
            order: -1;
        }
}